API_KEY = None
APP_KEY = None
MAC_ADD = None

if __name__ = '__main__':
	if not API_KEY:
		print('API Key missing')
	if not APP_KEY:
		print('Application Key missing')
	if not MAC_ADD:
		print('MAC Address missing')
